### Lineup Optimisation with Genetic Algorithms

In [1]:
import os
import glob
import random
import numpy as np
import pandas as pd
from tqdm import tqdm_notebook as tqdm

from constants import DATA_DIR
from utils import csv_concatenate, calculate_FPTS, calculate_MAE, calculate_RMSE, cross_val, load_full_dataset

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
def add_eligible_positions(df):
    pos = {'PG':[], 'SG':[], 'SF':[], 'PF':[], 'C':[], 'G':[], 'F':[]}
    
    for i in range(df.shape[0]):
        for key in pos.keys():
            if key in df.loc[i, 'Pos']:
                pos[key].append(1)
            else:
                pos[key].append(0)
    
    for key in pos.keys():
        df[key] = pos[key]

### Genetic Algorithm

In [85]:
class GeneticAlgorithm():
    #return a list of lineups with indices in df_target
    def create_random_lineups(self, df, num_lineups):
        lineups = {'PG':[], 'SG':[], 'SF':[], 'PF':[], 'C':[], 'G':[], 'F':[], 'Util':[]}
        n = df.shape[0]

        for i in range(num_lineups):
            for key in list(lineups.keys())[:7]:
                lineups[key].append(df[df[key]==1].sample(1).index[0])

            lineups['Util'].append(df.sample(1).index[0])

        df_lineups = pd.DataFrame(lineups).loc[:,['PG', 'SG', 'SF', 'PF', 'C', 'G', 'F', 'Util']]

        return df_lineups
    
    
    def calculate_fitness(self, df_lineups):
        fitness = []

        for i in range(df_lineups.shape[0]):
            salary = df_target.loc[df_lineups.loc[i,:].values, 'Salary'].sum()
            total_FPTS = df_target.loc[df_lineups.loc[i,:].values, 'Pred'].sum()

            #Check for duplicates
            if len(set(df_lineups.loc[i,:].values)) < 8:
                fitness.append(0)

            #Check for Salary Caps
            elif salary >= salary_cap:
                fitness.append(0)

            #Calculate the cumulative predicted FPTS
            else:
                fitness.append(total_FPTS)

        return fitness
    

    def breed(self, df_lineups):  
        df_parents = df_lineups
        positions = list(df_lineups.columns)[:-1]
        df_children = pd.DataFrame([], columns=positions)

        df_fit = df_lineups.sort_values(by='Fitness', ascending=False).reset_index(drop=True)
        parents = df_fit.head(2)

        #Prevent breeding between two same lineups
        if all(parents.loc[0,:] != parents.loc[1,:]):
            next_index = 2

            while all(parents.loc[0,:] == parents.loc[1,:]):
                rows = [0, next_index]
                parents = df_fit.loc[rows]
                parents = parents.reset_index(drop=True)
                next_index += 1

        parents = parents.loc[:, positions]
        

        for pos in positions:
            #Add parents and swap each items position by position, creating 16 lineups
            df_children = df_children.append(parents, ignore_index=True)
            df_children.loc[df_children.shape[0]-2, pos] = parents.loc[1, pos]
            df_children.loc[df_children.shape[0]-1, pos] = parents.loc[0, pos]

        #Add parents for a total of 18 lineups
        df_children = df_children.append(parents).reset_index(drop=True)
        return df_children
    
    def mutate(self, df_lineups, df_original, num_mutations):
        positions = list(df_lineups.columns)[:-1]
        df_mutants = pd.DataFrame([], columns=positions)
        df_parent = df_lineups.sort_values(by='Fitness', ascending=False).head(1).loc[:,positions]

        #Append the original
        df_mutants = df_mutants.append(df_parent)

        #Append the original and then mutate it by replacing it with a random sample for a random position
        for i in range(num_mutations):
            pos_to_swap = random.choice(positions)
            mutant_index = df_original.sample(1).index[0]

            df_mutants = df_mutants.append(df_parent, ignore_index=True)
            current_index = df_mutants.shape[0]-1
            df_mutants.loc[current_index, pos_to_swap] = df_original.loc[mutant_index, pos_to_swap]

        return df_mutants
    
    
    def evolution(self, df_random_lineups, num_mutations, num_generations):
        df_init = df_random_lineups

        for i in range(num_generations):

            df_children = self.breed(df_init)
            df_children['Fitness'] = self.calculate_fitness(df_children)

            df_mutants = self.mutate(df_children, df_random_lineups, num_mutations)
            df_mutants['Fitness'] = self.calculate_fitness(df_mutants)

            df_init = df_mutants

        df_init['Fitness'] = self.calculate_fitness(df_init.drop('Fitness', axis=1))
        df_final = df_init.sort_values(by='Fitness', ascending=False).reset_index(drop=True)

        return df_final
    
    def compounding_evolution(self, population_size=200, num_mutations=30, num_generations=30, num_compounding=5):
        optimal_lineups = []

        for i in tqdm(range(num_compounding)):
            df_random_lineups = self.create_random_lineups(df_target, population_size)
            df_random_lineups['Fitness'] = self.calculate_fitness(df_random_lineups)

            optimal = self.evolution(df_random_lineups, num_mutations, num_generations)

            optimal_lineups.append(list(optimal.loc[0,:].values[:-1].astype(int)))

        return optimal_lineups

In [86]:
ga = GeneticAlgorithm()

In [87]:
np.random.seed(23)
salary_cap = 50000

df_pred = pd.read_csv(os.path.join(DATA_DIR, 'Predictions', '20190628-19h40m-nn.csv'))

add_eligible_positions(df_pred)

In [88]:
df_cashline = pd.read_csv(os.path.join(DATA_DIR, 'Contests', 'cashline_march_2019.csv'))
df_cashline.head(5)

       Date       Type  Fee  Cashline
0  20190301  Double Up   50    335.50
1  20190302  Double Up   25    264.00
2  20190303  Double Up   25    282.25
3  20190304  Double Up   25    276.50
4  20190305  Double Up   25    280.25

In [89]:
date, pred, actual, cashline, win, earnings, = [], [], [], [], [], []

for i in tqdm(range(df_cashline.shape[0])):
    df_target = df_pred.loc[(df_pred['Salary']!=0)&(df_pred['Date']==df_cashline.loc[i, 'Date'])].reset_index(drop=True)
    
    optimal_lineups = ga.compounding_evolution()
    
    top_lineups = {'Lineup':[], 'Pred':[], 'Actual':[]}

    for j, indices in enumerate(optimal_lineups):
        top_lineups['Lineup'].append(j)
        top_lineups['Pred'].append(df_target.loc[indices, 'Pred'].sum())
        top_lineups['Actual'].append(df_target.loc[indices, 'FPTS'].sum())


    df_lineups = pd.DataFrame(top_lineups).sort_values(by='Pred', ascending=False).reset_index(drop=True)
    df_lineups = df_lineups.loc[:, ['Lineup', 'Pred', 'Actual']]

    rows = optimal_lineups[df_lineups.loc[0, 'Lineup']]
    df_best = df_target.loc[rows,:]
    display(df_best.loc[:,['Date', 'Name', 'Team', 'Pos', 'FPTS', 'Pred', 'Salary']])
    
    print('Salary:', df_target.loc[rows,'Salary'].sum())
    print('Predicted:', df_target.loc[rows,'Pred'].sum())
    print('Actual:', df_target.loc[rows,'FPTS'].sum())
    print('Cashline:', df_cashline.loc[i, 'Cashline'])
    
    pred.append(df_target.loc[rows,'Pred'].sum())
    actual.append(df_target.loc[rows,'FPTS'].sum())
    cashline.append(df_cashline.loc[i, 'Cashline'])
    
    if df_target.loc[rows, 'FPTS'].sum() >= df_cashline.loc[i, 'Cashline']:
        print('Win:', df_cashline.loc[i, 'Fee'])
        win.append(1)
        earnings.append(df_cashline.loc[i, 'Fee'])
    else:
        print('Lose:', df_cashline.loc[i, 'Fee'])
        win.append(0)
        earnings.append(-df_cashline.loc[i, 'Fee'])

HBox(children=(IntProgress(value=0, max=31), HTML(value='')))

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date              Name Team    Pos   FPTS       Pred  Salary
25   20190301  D'Angelo Russell  BRK  PG/SG  34.50  54.234890  8500.0
12   20190301      Bradley Beal  WAS     SG  59.75  54.058117  8700.0
17   20190301      Caris LeVert  BRK  PG/SF  30.25  32.145830  5400.0
37   20190301    Dewayne Dedmon  ATL   PF/C  45.00  35.381770  5500.0
98   20190301        Marc Gasol  TOR      C  43.00  35.717484  5200.0
100  20190301      Marcus Smart  BOS  PG/SG  24.00  27.425268  4400.0
6    20190301     Anthony Davis  NOP   PF/C  40.00  48.829304  6800.0
65   20190301     Jarrett Allen  BRK      C  17.00  33.797040  5300.0

Salary: 49800.0
Predicted: 321.589703
Actual: 293.5
Cashline: 335.5
Lose: 50

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date                 Name Team    Pos   FPTS       Pred  Salary
30   20190302      Darren Collison  IND     PG  42.75  36.190660  5800.0
43   20190302        Derrick White  SAS  PG/SG  34.50  30.541052  4700.0
123  20190302          Luka Doncic  DAL  PG/SF  37.50  62.571583  9600.0
49   20190302  Dorian Finney-Smith  DAL  SF/PF  13.75  20.964846  3700.0
41   20190302       Derrick Favors  UTA   PF/C  54.00  33.767020  4800.0
44   20190302         Devin Booker  PHO  PG/SG  36.00  52.851414  8200.0
106  20190302        Julius Randle  NOP   PF/C  52.50  49.127728  8000.0
109  20190302      Justise Winslow  MIA  PG/SF  28.00  33.829548  5000.0

Salary: 49800.0
Predicted: 319.84385100000003
Actual: 299.0
Cashline: 264.0
Win: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date              Name Team    Pos   FPTS       Pred  Salary
64   20190303       Jeff Teague  MIN     PG  22.25  35.924070  5500.0
17   20190303      Bradley Beal  WAS     SG  51.25  56.964306  9200.0
143  20190303      Trevor Ariza  WAS  SF/PF  28.50  36.386510  5900.0
34   20190303  Danilo Gallinari  LAC  SF/PF  34.75  41.945830  6200.0
95   20190303       Larry Nance  CLE   PF/C  27.25  38.756042  5800.0
90   20190303        Kyle Lowry  TOR     PG  54.75  43.593163  7300.0
63   20190303        Jeff Green  WAS   PF/C  20.75  31.052555  4500.0
123  20190303    Reggie Jackson  DET  PG/SG  30.75  38.091717  5500.0

Salary: 49900.0
Predicted: 322.71419299999997
Actual: 270.25
Cashline: 282.25
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date           Name Team    Pos   FPTS       Pred  Salary
52   20190304   Eric Bledsoe  MIL     PG  29.25  42.004580  6500.0
82   20190304     Joe Ingles  UTA  SG/SF  27.00  33.423023  5500.0
81   20190304     Joe Harris  BRK  SG/SF  16.50  26.188457  4400.0
6    20190304  Anthony Davis  NOP   PF/C  46.75  46.603070  6700.0
68   20190304   JaVale McGee  LAL      C  14.25  26.948473  3800.0
34   20190304   Devin Booker  PHO  PG/SG  39.75  51.222706  7800.0
96   20190304    Kelly Oubre  PHO  SG/SF  53.75  36.860023  5900.0
110  20190304    Luka Doncic  DAL  PG/SF  31.50  58.038063  9100.0

Salary: 49700.0
Predicted: 321.28839500000004
Actual: 258.75
Cashline: 276.5
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

        Date              Name Team    Pos   FPTS       Pred   Salary
53  20190305      James Harden  HOU  PG/SG  47.75  68.711840  11100.0
14  20190305     Avery Bradley  MEM  PG/SG  26.75  30.084120   4400.0
16  20190305  Bojan Bogdanovic  IND  SG/SF  41.50  35.693523   5600.0
99  20190305     Pascal Siakam  TOR   PF/C  35.50  43.410347   6800.0
91  20190305      Myles Turner  IND      C  41.75  36.404790   5700.0
57  20190305       Jeff Teague  MIN     PG  45.25  37.077870   5300.0
86  20190305  Maurice Harkless  POR  SF/PF  36.00  26.966787   4000.0
71  20190305      Jusuf Nurkic  POR      C  37.00  51.282390   7000.0

Salary: 49900.0
Predicted: 329.631667
Actual: 311.5
Cashline: 280.25
Win: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date             Name Team    Pos   FPTS       Pred  Salary
104  20190306      Jeff Teague  MIN     PG  32.25  34.605625  5300.0
131  20190306      Kelly Oubre  PHO  SG/SF  31.00  39.608364  6200.0
214  20190306    Tobias Harris  PHI  SF/PF  18.50  45.427220  7700.0
176  20190306      Otto Porter  CHI  SF/PF  37.25  39.324566  6300.0
148  20190306  Lauri Markkanen  CHI   PF/C  20.50  51.382664  8000.0
218  20190306       Trae Young  ATL     PG  37.00  57.246914  8800.0
7    20190306     Amir Johnson  PHI   PF/C  23.50  22.275282  3100.0
88   20190306     JaVale McGee  LAL      C  27.00  26.362276  3700.0

Salary: 49100.0
Predicted: 316.232911
Actual: 227.0
Cashline: 286.5
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

        Date                   Name Team    Pos   FPTS       Pred   Salary
8   20190307         Damian Lillard  POR     PG  76.75  51.885548   8100.0
21  20190307        Khris Middleton  MIL  SG/SF  42.00  41.477448   6300.0
17  20190307  Giannis Antetokounmpo  MIL  SF/PF  52.50  65.622856  11200.0
25  20190307       Maurice Harkless  POR  SF/PF   9.25  28.294767   4200.0
27  20190307           Myles Turner  IND      C  58.25  37.705532   6200.0
35  20190307            Rodney Hood  POR  SG/SF  17.00  18.217978   3300.0
2   20190307        Al-Farouq Aminu  POR  SF/PF  21.25  27.695332   3900.0
20  20190307           Jusuf Nurkic  POR      C  44.75  49.443960   6700.0

Salary: 49900.0
Predicted: 320.343421
Actual: 321.75
Cashline: 298.0
Win: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date            Name Team    Pos   FPTS       Pred  Salary
158  20190308  Reggie Jackson  DET  PG/SG  28.75  31.603624  5100.0
200  20190308     Zach LaVine  CHI  PG/SG  36.50  46.307438  7500.0
112  20190308    Kevin Durant  GSW  SF/PF  45.00  56.807724  8900.0
148  20190308     Otto Porter  CHI  SF/PF  44.00  38.560482  6100.0
28   20190308     Cody Zeller  CHO      C  23.50  35.892700  5300.0
142  20190308   Nicolas Batum  CHO  SG/SF  31.50  33.746796  5500.0
155  20190308    Paul Millsap  DEN   PF/C  15.00  38.710750  6600.0
91   20190308     Joakim Noah  MEM      C  27.00  32.427704  4600.0

Salary: 49600.0
Predicted: 314.05721800000003
Actual: 251.25
Cashline: 291.25
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date              Name Team    Pos   FPTS       Pred   Salary
108  20190309        Trae Young  ATL     PG  58.50  55.270030   8200.0
61   20190309       Josh Okogie  MIN  SG/SF  11.00  20.184252   3300.0
78   20190309   Marvin Williams  CHO  SF/PF  20.00  27.389576   4700.0
73   20190309      LeBron James  LAL  SF/PF  64.00  65.340614  10800.0
10   20190309      Bobby Portis  WAS   PF/C  41.00  34.963360   5700.0
19   20190309    Damian Lillard  POR     PG  35.00  56.573837   8800.0
79   20190309  Maurice Harkless  POR  SF/PF  23.75  27.084476   4200.0
1    20190309   Al-Farouq Aminu  POR  SF/PF  15.75  27.706390   4200.0

Salary: 49900.0
Predicted: 314.512535
Actual: 269.0
Cashline: 282.25
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date             Name Team    Pos   FPTS       Pred  Salary
176  20190310       Trae Young  ATL     PG  31.75  58.273266  8100.0
11   20190310    Avery Bradley  MEM  PG/SG  32.50  30.166546  4600.0
126  20190310  Khris Middleton  MIL  SG/SF  32.00  40.500576  7100.0
171  20190310       Taj Gibson  MIN   PF/C  42.50  27.576149  4100.0
111  20190310    Julius Randle  NOP   PF/C  34.25  51.093803  8500.0
83   20190310    Jalen Brunson  DAL  PG/SG  30.75  25.599682  4100.0
133  20190310      Luka Doncic  DAL  PG/SF  59.75  56.543140  8800.0
82   20190310     Jakob Poeltl  SAS      C  22.00  24.415924  4300.0

Salary: 49600.0
Predicted: 314.16908600000005
Actual: 285.5
Cashline: 301.25
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date              Name Team    Pos   FPTS       Pred  Salary
40   20190311  Donovan Mitchell  UTA  PG/SG  49.50  52.538467  8400.0
107  20190311    Reggie Jackson  DET  PG/SG   7.00  35.423298  5000.0
67   20190311       Jeremy Lamb  CHO  SG/SF  26.50  35.795353  5800.0
10   20190311      Bobby Portis  WAS   PF/C  42.25  37.048480  5900.0
57   20190311       Ivica Zubac  LAC      C  24.25  29.703238  4300.0
70   20190311        Joe Ingles  UTA  SG/SF  23.00  35.937634  5900.0
29   20190311  Danilo Gallinari  LAC  SF/PF  35.25  39.581394  6400.0
27   20190311  D'Angelo Russell  BRK  PG/SG  29.75  48.338924  8000.0

Salary: 49700.0
Predicted: 314.36678800000004
Actual: 237.5
Cashline: 260.0
Lose: 10

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date              Name Team    Pos   FPTS       Pred  Salary
51   20190312      Eric Bledsoe  MIL     PG  32.50  38.819120  6500.0
133  20190312  Ryan Arcidiacono  CHI  PG/SG  32.50  23.202047  3300.0
103  20190312       Luka Doncic  DAL  PG/SF  30.00  57.931644  8800.0
109  20190312  Maurice Harkless  POR  SF/PF  17.50  25.652842  4500.0
100  20190312   Lauri Markkanen  CHI   PF/C  16.25  51.976260  8200.0
12   20190312    Brandon Knight  CLE  PG/SG  23.25  21.935272  3500.0
9    20190312       Ben Simmons  PHI  PG/SF  53.00  52.711506  8600.0
123  20190312       Otto Porter  CHI  SF/PF  34.25  42.050884  6400.0

Salary: 49800.0
Predicted: 314.279575
Actual: 239.25
Cashline: 263.25
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date            Name Team    Pos   FPTS       Pred  Salary
35   20190313    Devin Booker  PHO  PG/SG  42.00  50.361360  8400.0
105  20190313  Reggie Jackson  DET  PG/SG  12.25  33.471676  4800.0
85   20190313   Kevin Huerter  ATL  SG/SF  33.75  24.892431  4200.0
66   20190313    Jerami Grant  OKC     PF  26.75  28.601841  4800.0
11   20190313   Blake Griffin  DET   PF/C  26.00  52.412518  8100.0
128  20190313      Trae Young  ATL     PG  41.25  56.221413  7700.0
33   20190313  Derrick Favors  UTA   PF/C  41.25  34.100250  5700.0
82   20190313     Kelly Oubre  PHO  SG/SF  27.00  38.457508  6200.0

Salary: 49900.0
Predicted: 318.518997
Actual: 250.25
Cashline: 230.75
Win: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date            Name Team    Pos   FPTS       Pred  Salary
89   20190314     Luka Doncic  DAL  PG/SF  55.75  55.484670  8400.0
65   20190314      Jeremy Lin  TOR  PG/SG  21.25  23.905993  3800.0
109  20190314   Norman Powell  TOR  SG/SF  40.50  17.683012  3200.0
35   20190314  Derrick Favors  UTA   PF/C  38.25  36.372150  5500.0
123  20190314     Rudy Gobert  UTA      C  32.75  48.779503  8000.0
116  20190314     Rajon Rondo  LAL     PG  30.75  38.357983  6800.0
111  20190314   Pascal Siakam  TOR   PF/C  37.75  42.511955  6900.0
115  20190314    Paul Millsap  DEN   PF/C  50.00  40.259354  6600.0

Salary: 49200.0
Predicted: 303.35461999999995
Actual: 307.0
Cashline: 290.75
Win: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date              Name Team    Pos   FPTS       Pred  Salary
172  20190315  Tomas Satoransky  WAS  PG/SG  12.25  34.524746  5800.0
152  20190315    Reggie Jackson  DET  PG/SG  39.25  31.481290  4300.0
142  20190315       Otto Porter  CHI  SF/PF  19.00  40.477222  6700.0
85   20190315        Jeff Green  WAS   PF/C  24.50  27.613455  4300.0
12   20190315     Blake Griffin  DET   PF/C  30.00  51.469440  7700.0
10   20190315       Ben Simmons  PHI  PG/SF  30.00  52.112015  8500.0
20   20190315       Buddy Hield  SAC  SG/SF  23.25  44.047802  7100.0
37   20190315    DeAndre Jordan  NYK      C  40.75  35.581818  5500.0

Salary: 49900.0
Predicted: 317.30778799999996
Actual: 219.0
Cashline: 300.0
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date               Name Team    Pos   FPTS       Pred   Salary
24   20190316   D'Angelo Russell  BRK  PG/SG  34.75  43.958088   7300.0
43   20190316       Devin Booker  PHO  PG/SG  67.25  51.943700   8000.0
89   20190316       Josh Jackson  PHO  SF/PF  37.25  20.487055   3800.0
41   20190316     Derrick Favors  UTA   PF/C  36.50  35.950047   5600.0
72   20190316       Jakob Poeltl  SAS      C  26.50  29.466108   4400.0
161  20190316        Will Barton  DEN  SG/SF  37.50  34.580715   5700.0
79   20190316         Jeff Green  WAS   PF/C  21.75  27.704502   4200.0
135  20190316  Russell Westbrook  OKC     PG  32.50  64.508980  10800.0

Salary: 49800.0
Predicted: 308.599195
Actual: 294.0
Cashline: 306.5
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date                   Name Team    Pos   FPTS       Pred   Salary
151  20190317             Trae Young  ATL     PG  36.00  53.023052   7400.0
158  20190317           Wayne Selden  CHI  SG/SF  16.25  19.241041   3400.0
157  20190317        Wayne Ellington  DET  SG/SF  13.00  22.923512   3700.0
56   20190317  Giannis Antetokounmpo  MIL  SF/PF  91.00  70.529240  10800.0
63   20190317            Ivica Zubac  LAC      C  19.00  29.730928   4700.0
18   20190317            Buddy Hield  SAC  SG/SF  33.75  43.192806   7000.0
82   20190317           John Collins  ATL   PF/C  21.75  51.468790   7500.0
38   20190317         Dewayne Dedmon  ATL   PF/C  36.00  37.200120   5400.0

Salary: 49900.0
Predicted: 327.309489
Actual: 266.75
Cashline: 274.5
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date            Name Team    Pos   FPTS       Pred  Salary
70   20190318   Fred VanVleet  TOR  PG/SG  39.50  26.304895  4000.0
16   20190318    Bradley Beal  WAS     SG  19.50  55.285946  9400.0
137  20190318   Marcus Morris  BOS  SF/PF  22.25  35.245735  5000.0
113  20190318    Kevin Durant  GSW  SF/PF  33.25  51.575886  8800.0
40   20190318  DeAndre Jordan  NYK      C  19.00  42.789017  5800.0
123  20190318    Kyrie Irving  BOS     PG  52.75  62.764310  9100.0
95   20190318    Jerami Grant  OKC     PF  49.00  26.092138  4400.0
139  20190318   Mario Hezonja  NYK  SF/PF  21.75  31.512840  3400.0

Salary: 49900.0
Predicted: 331.570767
Actual: 257.0
Cashline: 311.5
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date              Name Team    Pos   FPTS       Pred  Salary
124  20190319        Trae Young  ATL     PG  45.00  52.347400  7200.0
22   20190319  D'Angelo Russell  BRK  PG/SG  77.00  45.102493  7400.0
109  20190319    Reggie Bullock  LAL  SG/SF  18.50  22.203497  3400.0
100  20190319   Nemanja Bjelica  SAC     PF  34.50  30.005995  4800.0
66   20190319      John Collins  ATL   PF/C  37.00  49.667282  7500.0
77   20190319      Kemba Walker  CHO     PG  35.00  49.369137  8100.0
87   20190319        Kyle Kuzma  LAL  SF/PF  29.25  38.103897  5900.0
31   20190319    Dewayne Dedmon  ATL   PF/C  16.75  38.275333  5600.0

Salary: 49900.0
Predicted: 325.07503399999996
Actual: 293.0
Cashline: 311.75
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date                Name Team    Pos   FPTS       Pred  Salary
187  20190320  Shaquille Harrison  CHI  PG/SF  33.50  22.637045  3200.0
143  20190320        Marcus Smart  BOS  PG/SG  10.25  30.702078  4600.0
144  20190320       Mario Hezonja  NYK  SF/PF  27.00  31.580536  3700.0
2    20190320          Al Horford  BOS   PF/C  39.50  37.996350  5900.0
118  20190320       Julius Randle  NOP   PF/C   9.75  52.439007  8300.0
137  20190320         Luka Doncic  DAL  PG/SF  38.75  59.397564  8900.0
132  20190320   LaMarcus Aldridge  SAS   PF/C  29.50  48.190310  7900.0
121  20190320        Jusuf Nurkic  POR      C  28.50  45.677950  7100.0

Salary: 49600.0
Predicted: 328.62084
Actual: 216.75
Cashline: nan
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date              Name Team    Pos   FPTS       Pred  Salary
26   20190321      Devin Booker  PHO  PG/SG  39.75  57.688908  8800.0
32   20190321  Donovan Mitchell  UTA  PG/SG  47.50  45.231853  8200.0
93   20190321     Miles Bridges  CHO  SF/PF  38.00  20.901716  3300.0
29   20190321    Dewayne Dedmon  ATL   PF/C  39.25  36.284030  5300.0
23   20190321  DeMarcus Cousins  GSW      C  42.75  46.232307  6800.0
12   20190321  Bojan Bogdanovic  IND  SG/SF  14.00  34.292680  5900.0
76   20190321     Kevin Huerter  ATL  SG/SF  18.25  26.792843  4100.0
123  20190321        Trae Young  ATL     PG  41.50  52.551130  7500.0

Salary: 49900.0
Predicted: 319.975467
Actual: 281.0
Cashline: 284.0
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date            Name Team    Pos   FPTS       Pred   Salary
90   20190322    Kadeem Allen  NYK  PG/SG  12.25  19.809958   3300.0
31   20190322    Delon Wright  MEM  PG/SG  35.75  27.791496   4900.0
0    20190322    Aaron Gordon  ORL  SF/PF  13.75  43.502680   7500.0
105  20190322    LeBron James  LAL  SF/PF  59.25  67.082980  10300.0
28   20190322  DeAndre Jordan  NYK      C  21.75  40.742490   5800.0
139  20190322     Rajon Rondo  LAL     PG  17.25  40.130302   6400.0
95   20190322      Kevin Knox  NYK  SF/PF  27.25  31.710833   4800.0
15   20190322      Chris Paul  HOU     PG  32.25  43.258920   6900.0

Salary: 49900.0
Predicted: 314.02965900000004
Actual: 219.5
Cashline: 335.0
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date             Name Team    Pos   FPTS       Pred   Salary
143  20190323       Trae Young  ATL     PG  58.50  51.160267   7900.0
109  20190323      Luka Doncic  DAL  PG/SG  62.75  54.805683   8600.0
20   20190323    Bruno Caboclo  MEM  SF/PF  11.75  20.861038   3800.0
42   20190323   Dewayne Dedmon  ATL   PF/C  33.50  36.905400   5500.0
15   20190323     Bobby Portis  WAS   PF/C  31.25  35.714180   5800.0
119  20190323       Quinn Cook  GSW     PG  24.50  19.886290   3000.0
118  20190323  Nemanja Bjelica  SAC     PF  47.75  30.016335   5100.0
29   20190323   Damian Lillard  POR     PG  50.00  57.187843  10100.0

Salary: 49800.0
Predicted: 306.537036
Actual: 320.0
Cashline: 276.0
Win: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date           Name Team    Pos   FPTS       Pred   Salary
114  20190324   Marcus Smart  BOS  PG/SG  20.50  32.909560   4400.0
48   20190324   Dwayne Bacon  CHO  SG/SF  26.25  23.762648   3400.0
154  20190324     Tony Snell  MIL  SG/SF  18.75  20.476435   3500.0
119  20190324  Miles Bridges  CHO  SF/PF  29.00  26.706130   3800.0
83   20190324  Julius Randle  NOP   PF/C  21.25  52.583088   8100.0
99   20190324   Kyrie Irving  BOS     PG  39.00  61.054573   8800.0
104  20190324   LeBron James  LAL  SF/PF  69.25  67.906300  10100.0
40   20190324  DeMar DeRozan  SAS  SG/SF  37.50  46.477260   7800.0

Salary: 49900.0
Predicted: 331.875994
Actual: 261.5
Cashline: 244.75
Win: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

        Date               Name Team    Pos   FPTS       Pred  Salary
10  20190325   D'Angelo Russell  BRK  PG/SG  62.75  50.868732  8600.0
88  20190325       Tyler Dorsey  MEM  PG/SG  40.00  23.513338  3800.0
9   20190325   Chandler Parsons  MEM  SF/PF  11.25  20.857418  3900.0
19  20190325     Derrick Favors  UTA   PF/C  39.50  34.994827  5500.0
74  20190325        Rudy Gobert  UTA      C  44.50  47.586080  8000.0
20  20190325       Devin Booker  PHO  PG/SG  71.50  55.754555  8800.0
56  20190325   Maurice Harkless  POR  SF/PF  32.50  25.446470  4200.0
47  20190325  Jonas Valanciunas  MEM      C  42.00  48.783737  7100.0

Salary: 49900.0
Predicted: 307.805157
Actual: 344.0
Cashline: 314.5
Win: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date            Name Team    Pos   FPTS       Pred   Salary
153  20190326     Luka Doncic  DAL  PG/SG  63.50  56.436275   8500.0
66   20190326    Dwayne Bacon  CHO  SG/SF  43.00  25.110495   4000.0
205  20190326  Sterling Brown  MIL  SG/SF  29.75  20.370756   3100.0
15   20190326   Blake Griffin  DET   PF/C  58.75  48.617040   7800.0
100  20190326    Jakob Poeltl  SAS      C  18.50  25.088675   4200.0
227  20190326     Will Barton  DEN  SG/SF  23.25  32.849130   5400.0
144  20190326      Kyle Kuzma  LAL  SF/PF  22.00  42.260307   6700.0
151  20190326    LeBron James  LAL  SF/PF  55.25  66.580890  10200.0

Salary: 49900.0
Predicted: 317.31356800000003
Actual: 314.0
Cashline: 265.5
Win: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date               Name Team    Pos   FPTS       Pred   Salary
26   20190327       Devin Booker  PHO  PG/SG  73.00  58.712704   9200.0
11   20190327    Brandon Sampson  CHI  PG/SG   4.75  21.971022   3000.0
108  20190327       Wayne Selden  CHI  SG/SF  35.00  25.624008   3600.0
84   20190327     Richaun Holmes  PHO   PF/C  19.50  22.250051   3900.0
73   20190327       Myles Turner  IND      C  40.00  38.310307   6200.0
90   20190327  Russell Westbrook  OKC     PG  59.25  62.172543  10500.0
63   20190327         Kyle Kuzma  LAL  SF/PF  28.50  39.806250   6600.0
21   20190327      Deandre Ayton  PHO      C  32.50  39.801178   6800.0

Salary: 49800.0
Predicted: 308.64806300000004
Actual: 292.5
Cashline: 295.25
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date                   Name Team    Pos   FPTS       Pred   Salary
57   20190328        Emmanuel Mudiay  NYK     PG  16.50  41.641117   5700.0
31   20190328         Damyean Dotson  NYK  SG/SF  15.25  35.313835   5500.0
67   20190328  Giannis Antetokounmpo  MIL  SF/PF  57.25  69.593440  11200.0
105  20190328           Kelly Olynyk  MIA   PF/C  15.75  31.701355   4900.0
41   20190328         DeAndre Jordan  NYK      C  16.75  45.327570   5800.0
181  20190328        Wayne Ellington  DET  SG/SF  34.50  21.813501   3700.0
127  20190328          Mario Hezonja  NYK  SF/PF  15.00  31.968496   4200.0
120  20190328            Luka Doncic  DAL  PG/SG  38.00  55.548970   8400.0

Salary: 49400.0
Predicted: 332.908284
Actual: 209.0
Cashline: 308.5
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date             Name Team    Pos   FPTS       Pred  Salary
135  20190329       Trae Young  ATL     PG  48.75  53.816520  8300.0
91   20190329     Marcus Smart  BOS  PG/SG  24.25  32.028510  4800.0
33   20190329   Doug McDermott  IND  SF/PF   5.50  14.352203  3100.0
65   20190329     John Collins  ATL   PF/C  30.50  44.267414  6900.0
105  20190329     Nikola Jokic  DEN      C  50.50  55.432087  9400.0
110  20190329      Rajon Rondo  LAL     PG  52.00  34.530040  5800.0
72   20190329  Justin Anderson  ATL     SF  16.50  18.481676  3000.0
85   20190329     Kyrie Irving  BOS     PG  47.00  59.122883  8600.0

Salary: 49900.0
Predicted: 312.031333
Actual: 275.0
Cashline: 247.5
Win: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date                Name Team    Pos   FPTS       Pred   Salary
67   20190330     Emmanuel Mudiay  NYK     PG  35.25  39.589733   5500.0
158  20190330    Patrick Beverley  LAC  PG/SG  15.75  30.782892   4800.0
42   20190330      Damyean Dotson  NYK  SG/SF  11.75  34.261440   5400.0
110  20190330        Jonah Bolden  PHI   PF/C  43.50  22.652973   3100.0
121  20190330  Karl-Anthony Towns  MIN      C  33.75  64.958390  10400.0
49   20190330        De'Aaron Fox  SAC     PG  49.75  46.848087   7900.0
106  20190330          Joe Harris  BRK  SG/SF  29.00  27.046162   4400.0
39   20190330    D'Angelo Russell  BRK  PG/SG  53.25  54.959003   8200.0

Salary: 49700.0
Predicted: 321.09868
Actual: 272.0
Cashline: 293.25
Lose: 25

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date               Name Team    Pos   FPTS       Pred  Salary
74   20190331       Kemba Walker  CHO     PG  18.75  56.555240  8900.0
31   20190331      Derrick White  SAS  PG/SG  14.75  31.117617  4900.0
83   20190331      Landry Shamet  LAC  SG/SF  13.75  22.618810  3900.0
60   20190331       Jerami Grant  OKC     PF  21.75  29.772242  5100.0
66   20190331  Jonas Valanciunas  MEM      C  20.75  52.371098  7900.0
134  20190331        Will Barton  DEN  SG/SF  25.50  28.216501  4700.0
106  20190331       Paul Millsap  DEN   PF/C  37.25  37.762497  6200.0
71   20190331      Julius Randle  NOP   PF/C  28.25  53.304672  8200.0

Salary: 49800.0
Predicted: 311.718677
Actual: 180.75
Cashline: 240.5
Lose: 25

In [91]:
print(sum(win)/len(win))
print(sum(earnings))

0.3225806451612903
-285

In [92]:
date = list(set(df_cashline['Date'].values))
df_result = pd.DataFrame({'Date': date,
                          'Predicted':pred,
                          'Actual': actual,
                          'Cashline': cashline,
                          'Win':win,
                          'Earnings': earnings
                         })

df_result.loc[:,['Date', 'Predicted', 'Actual', 'Cashline', 'Win', 'Earnings']]

        Date   Predicted  Actual  Cashline  Win  Earnings
0   20190301  321.589703  293.50    335.50    0       -50
1   20190302  319.843851  299.00    264.00    1        25
2   20190303  322.714193  270.25    282.25    0       -25
3   20190304  321.288395  258.75    276.50    0       -25
4   20190305  329.631667  311.50    280.25    1        25
5   20190306  316.232911  227.00    286.50    0       -25
6   20190307  320.343421  321.75    298.00    1        25
7   20190308  314.057218  251.25    291.25    0       -25
8   20190309  314.512535  269.00    282.25    0       -25
9   20190310  314.169086  285.50    301.25    0       -25
10  20190311  314.366788  237.50    260.00    0       -10
11  20190312  314.279575  239.25    263.25    0       -25
12  20190313  318.518997  250.25    230.75    1        25
13  20190314  303.354620  307.00    290.75    1        25
14  20190315  317.307788  219.00    300.00    0       -25
15  20190316  308.599195  294.00    306.50    0       -25
16  20190317  327.309489  266.75    274.50    0       -25
17  20190318  331.570767  257.00    311.50    0       -25
18  20190319  325.075034  293.00    311.75    0       -25
19  20190320  328.620840  216.75       NaN    0       -25
20  20190321  319.975467  281.00    284.00    0       -25
21  20190322  314.029659  219.50    335.00    0       -25
22  20190323  306.537036  320.00    276.00    1        25
23  20190324  331.875994  261.50    244.75    1        25
24  20190325  307.805157  344.00    314.50    1        25
25  20190326  317.313568  314.00    265.50    1        25
26  20190327  308.648063  292.50    295.25    0       -25
27  20190328  332.908284  209.00    308.50    0       -25
28  20190329  312.031333  275.00    247.50    1        25
29  20190330  321.098680  272.00    293.25    0       -25
30  20190331  311.718677  180.75    240.50    0       -25

### Baseline - random 10,000

In [93]:
df_result.loc[:,['Date', 'Predicted', 'Actual', 'Cashline', 'Win', 'Earnings']]

        Date   Predicted  Actual  Cashline  Win  Earnings
0   20190301  321.589703  293.50    335.50    0       -50
1   20190302  319.843851  299.00    264.00    1        25
2   20190303  322.714193  270.25    282.25    0       -25
3   20190304  321.288395  258.75    276.50    0       -25
4   20190305  329.631667  311.50    280.25    1        25
5   20190306  316.232911  227.00    286.50    0       -25
6   20190307  320.343421  321.75    298.00    1        25
7   20190308  314.057218  251.25    291.25    0       -25
8   20190309  314.512535  269.00    282.25    0       -25
9   20190310  314.169086  285.50    301.25    0       -25
10  20190311  314.366788  237.50    260.00    0       -10
11  20190312  314.279575  239.25    263.25    0       -25
12  20190313  318.518997  250.25    230.75    1        25
13  20190314  303.354620  307.00    290.75    1        25
14  20190315  317.307788  219.00    300.00    0       -25
15  20190316  308.599195  294.00    306.50    0       -25
16  20190317  327.309489  266.75    274.50    0       -25
17  20190318  331.570767  257.00    311.50    0       -25
18  20190319  325.075034  293.00    311.75    0       -25
19  20190320  328.620840  216.75       NaN    0       -25
20  20190321  319.975467  281.00    284.00    0       -25
21  20190322  314.029659  219.50    335.00    0       -25
22  20190323  306.537036  320.00    276.00    1        25
23  20190324  331.875994  261.50    244.75    1        25
24  20190325  307.805157  344.00    314.50    1        25
25  20190326  317.313568  314.00    265.50    1        25
26  20190327  308.648063  292.50    295.25    0       -25
27  20190328  332.908284  209.00    308.50    0       -25
28  20190329  312.031333  275.00    247.50    1        25
29  20190330  321.098680  272.00    293.25    0       -25
30  20190331  311.718677  180.75    240.50    0       -25

In [96]:
df_random_lineups = ga.create_random_lineups(df_target, 200)
df_random_lineups['Fitness'] = ga.calculate_fitness(df_random_lineups)
df_random_lineups.sort_values(by='Fitness', ascending=False).head(10)

      PG   SG   SF   PF    C    G    F  Util     Fitness
56   113   20   21    7   81    4   22    39  280.204862
61    85   56   87    3   52    9  126    74  253.551206
30    39    1    4   40   66  113   76    24  250.157006
10   127   82    0   58  101   42    7    27  231.232840
51   132  123   21   97   71   84   10    33  228.119469
186   45   82  136   40   81    8   89    39  227.921983
198  117  134   73   88   66   26    4     2  225.244596
138   39  117   19   18  106  134   87    50  224.230260
111    2   76  122   14   54  134   87   113  222.681290
3      5   79   69  130   71   39   96    77  221.000854

### Visualisation

In [99]:
df_baseline = csv_concatenate(os.path.join(DATA_DIR, 'Dataframes', 'Modelling', 'Baseline'))
df_baseline['Baseline'] = calculate_FPTS(df_baseline)

HBox(children=(IntProgress(value=0, max=141206), HTML(value='')))

In [100]:
#target_date = 20180310
# target_date = 20180326
target_date = 20190326

In [103]:
df_target = df_pred.loc[(df_pred['Salary']!=0)&(df_pred['Date']==target_date)].reset_index(drop=True)
    
optimal_lineups = ga.compounding_evolution()

top_lineups = {'Lineup':[], 'Pred':[], 'Actual':[]}

for j, indices in enumerate(optimal_lineups):
    top_lineups['Lineup'].append(j)
    top_lineups['Pred'].append(df_target.loc[indices, 'Pred'].sum())
    top_lineups['Actual'].append(df_target.loc[indices, 'FPTS'].sum())


df_lineups = pd.DataFrame(top_lineups).sort_values(by='Pred', ascending=False).reset_index(drop=True)
df_lineups = df_lineups.loc[:, ['Lineup', 'Pred', 'Actual']]

rows = optimal_lineups[df_lineups.loc[0, 'Lineup']]
df_best = df_target.loc[rows,:]
display(df_best.loc[:,['Date', 'Name', 'Team', 'Pos', 'FPTS', 'Pred', 'Salary']])

print('Salary:', df_target.loc[rows,'Salary'].sum())
print('Predicted:', df_target.loc[rows,'Pred'].sum())
print('Actual:', df_target.loc[rows,'FPTS'].sum())
print('Cashline:', int(df_cashline.loc[df_cashline['Date']==target_date, 'Cashline'].values))

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

         Date                Name Team    Pos   FPTS       Pred   Salary
153  20190326         Luka Doncic  DAL  PG/SG  63.50  56.436275   8500.0
138  20190326       Kevin Huerter  ATL  SG/SF  18.25  24.093155   4200.0
144  20190326          Kyle Kuzma  LAL  SF/PF  22.00  42.260307   6700.0
61   20190326       Dirk Nowitzki  DAL   PF/C  11.00  20.170176   3300.0
15   20190326       Blake Griffin  DET   PF/C  58.75  48.617040   7800.0
189  20190326      Reggie Jackson  DET  PG/SG  32.00  28.164846   4600.0
66   20190326        Dwayne Bacon  CHO  SG/SF  43.00  25.110495   4000.0
130  20190326  Karl-Anthony Towns  MIN      C  49.75  66.691690  10700.0

Salary: 49800.0
Predicted: 311.543984
Actual: 298.25
Cashline: 265

In [104]:
print(calculate_MAE(df_best['FPTS'].values, df_best['Pred'].values))
print(calculate_RMSE(df_best['FPTS'], df_best['Pred']))

11.392084
12.762500600398203

In [105]:
df_best

,Date,Name,Team,FPTS,Pos,Salary,Pred,PG,SG,SF,PF,C,G,F
153,20190326,Luka Doncic,DAL,63.50,PG/SG,8500.0,56.436275,1,1,0,0,0,1,0
138,20190326,Kevin Huerter,ATL,18.25,SG/SF,4200.0,24.093155,0,1,1,0,0,1,1
144,20190326,Kyle Kuzma,LAL,22.00,SF/PF,6700.0,42.260307,0,0,1,1,0,0,1
61,20190326,Dirk Nowitzki,DAL,11.00,PF/C,3300.0,20.170176,0,0,0,1,1,0,1
15,20190326,Blake Griffin,DET,58.75,PF/C,7800.0,48.617040,0,0,0,1,1,0,1
189,20190326,Reggie Jackson,DET,32.00,PG/SG,4600.0,28.164846,1,1,0,0,0,1,0
66,20190326,Dwayne Bacon,CHO,43.00,SG/SF,4000.0,25.110495,0,1,1,0,0,1,1
130,20190326,Karl-Anthony Towns,MIN,49.75,C,10700.0,66.691690,0,0,0,0,1,0,0

In [106]:
Baseline = []

for i in range(df_best.shape[0]):
    df_best = df_best.reset_index(drop=True)
    Baseline.append(df_baseline.loc[(df_baseline['Name']==df_best.loc[i, 'Name'])&(df_baseline['Date']==df_best.loc[i,'Date']), 'Baseline'])

In [110]:
import plotly.plotly as py
import plotly.graph_objs as go

names = [name.split(' ')[0][:1] + '. '+ name.split(' ')[1] for name in df_best['Name']]
positions = ['(PG)', '(SG)', '(SF)','(PF)','(C)','(G)','(F)','(Utility)']

names = [names[i]+'\n'+positions[i] for i in range(8)]

trace1 = go.Bar(
    x=names,
    y=df_best['FPTS'],
    name='Actual FPTS'
)

trace2 = go.Bar(
    x=names,
    y=df_best['Pred'],
    name='Prediction'
)

trace3 = go.Bar(
    x=names,
    y=Baseline,
    name='Baseline'
)


data = [trace1, trace2, trace3]
layout = go.Layout(
    
)

layout = go.Layout(
        title = 'FPTS: Actual and Predicted',
        barmode='group',
        legend = {"x":0.85, 'y':1.3, 'borderwidth': 1},
        yaxis = {"title":"FPTS"},
    )

config={'showLink': False}

fig = go.Figure(data=data, layout=layout)
plot_url = py.plot(fig, filename='prediction0326')
py.iplot(fig, filename='prediction0326')